/* App.css */
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the container's height to the full viewport height */
  background-color: #1b1b1e;
}

.centered-text {
  text-align: center;
  font-size: 24px;
  /* You can add more styling here */
  color: #58a4b0;
}

.login-text {
  text-align: left;
  font-size: 18px;
  margin-bottom: 5px;
  margin-right: 4.3cm;
  color: white;
}

.input-container {
  position: relative;
  margin-bottom: 2cm; /* Add margin to create space between input fields */
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.2s;
}

.email-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-top: 20px;
  height: 20px;
}

.password-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #1b1b1e;
  border-radius: 5px;
  padding-top: 20px;
  height: 20px;
}

/* Add styles for label when input is focused */
.email-input:focus + .input-label,
.password-input:focus + .input-label {
  top: -25px;
  font-size: 14px;
  color: #007bff;
}
